*{
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin: 0 10px;
}
span {
    margin-left: 90px;
    background: #EAA636;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}
ul a{text-decoration: none;color: black;font-size: 17px;font-weight: 600;}         

.list{   
margin-top: 10px;
}

/* BANNER STARTS */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    /* display: none; */
    }
.banner{
    margin-top: 20px;
}
.banner h4{
    
color: #EAA636;
}
.banner h2{
font-family: 'Playfair Display', serif;
font-size: 57px;
    
font-weight: 700;
}
.banner p{
    
color: #000000c2;
}
.background{
     background: #FDF5EB;
     height: 495px;
     margin-top: 80px;
}

.first-half {
    margin-top: 42px;
}

.btn-warning {
    border-color: #EAA636;
    color: white;
    background-color: #EAA636;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 3px;
  }
  .banner a i{
    
    }

.one{
    border: 16px solid white;
    margin-top: 18px;
    width: 287px;
}
.two{

border: 16px solid white;

margin-top: 18px;

width: 117px;

margin-bottom: 210px;

margin-left: 20px;
}
.three{

border: 16px solid white;

margin-top: 18px;

width: 226px;

margin-left: 325px;

margin-top: -188px;
}

/* BANNER ENDS */

/* ABOUT STARTS */

.about{
    margin-top: 40px;
    height: 495px
}
.about h2{
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.about h4{
    color: #EAA636;
}
.about .one{
    border: 16px solid #FDF5EB;
    margin-top: 18px;
    width: 287px;
}
.about .three{

border: 16px solid #FDF5EB;

margin-top: 18px;

width: 226px;

margin-left: 325px;

margin-top: -188px;
}
.about .list{

margin-left: -40px;
}
.about .list ul{
}
.about .list ul li{
font-size: 17px;
color: black;
font-weight: 500;
}
.svg-inline--fa.fa-check {
    border: none;
    margin: 0;
    padding-top: 0px;
  }
  .fiv {
      margin-left: -4px;
  }  
.right {
    margin-top: 20px;
}

.right p {
    margin-top: 15px;
}
/* ABOUT ENDS */




/* CHOOSE US STARTS */
.choose-us{
margin-top: 40px;
}
.choose-us h4{
    text-align: center;
    color: #EAA636;
}
.choose-us h2{
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.card-group{
    margin-top: 100px;
}

.card {
    /* margin-left: 15px; */
    padding: 40px;
    margin-right: 25px;
    background-color: #FDF5EB;
    border: none;
    border-radius: 0;
}
.card strong{
    text-align: center;
    color: #EAA636;
    font-size: 50px;
}
.card title{
    text-align: center;
}

#two {
    margin-top: -50px;
}

p.card-text {
    font-size: 15px;
    color: #845454;
}
h5.card-title {
    text-align: center;
    font-weight: 600;
}

/* CHOOSE US ENDSS */

/* WORKS STARTS */
.works{
    margin-top: 40PX;
    height: 495px;
}
.works h4{
    text-align: center;
    color: #EAA636;
    margin-top: 20px;
}
.works h2{
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.works img{width: 270px;}
.works .image{margin-top: -120px;}
.works .image1{

margin-top: 17px;
}
.row.work {
    margin-top: 40px;
  }
.works .image2{
    margin-top: -120px;
}
.works .image3{
    margin-top: 15px;
}

.image button{

margin-top: -142px;

margin-left: 13px;

color: black;

padding: 16px 90px;

background: white;

border: none;
}

.image1 button {
    margin-top: -142px;
    margin-left: 24px;
    color: black;
    background: white;
    border: none;
    padding: 18px 90px;
}
.image2 button{

margin-top: -142px;

margin-left: 20px;

color: black;

padding: 16px 83px;

background: white;

border: none;

}
.image3 button {
    margin-top: -142px;
    margin-left: 20px;
    color: black;
    padding: 18px 88px;
    background: white;
    border: none;
}      
.img button {
    margin-top: -128px;
    margin-left: 19px;
    color: black;
    padding: 18px 77px;
    background: white;
    border: none;
} 
.img1 button {
    margin-top: -128px;
    margin-left: 17px;
    color: black;
    padding: 18px 90px;
    background: white;
    border: none;
}
.img2 button {
    margin-top: -128px;
    margin-left: 26px;
    color: black;
    padding: 18px 77px;
    background: white;
    border: none;
}
.img3 button {
    margin-top: -128px;
    margin-left: 30px;
    color: black;
    padding: 18px 77px;
    background: white;
    border: none;
}

/* WORKS ENDS */

/* TEAM STARS */
.team{

margin-top: 320px;

text-align: center;
}
.team h2{
   
color: #F4C263;
}
.team h3{
font-family: 'Playfair Display', serif; 

font-size: 40px;
    
font-weight: 700;
}
.team h4{
    
margin-top: 52px;
    
/*! font-size: 26px; */
    
font-weight: 600;
    
/*! margin-right: 92px; */
}
.team h5{
    
/*! margin-right: 150px; */
    
color: #000000a1;
    
font-size: 17px;
    }
.team p{
    
margin-top: 45px;
    
text-align: justify;
    
font-size: 15px;
    
margin-left: 23px;
}
.team img{
    width: 109%;
}
.team .image{
    margin-top: 40px;
}
.team .image1 img{
    
}

.team .fa-brands {}

.svg-inline--fa {    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    margin-right: 10px;
    border: 1px solid #EAA636;
    color: #EAA636;
    border-radius: 18px;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
/*! margin-left: 83px; */
}

/* TEAM ENDS */

/* FOOTER STARTS */

.footer{
    background: #1E1916;
    height: 700px;
    margin-top: 60px;
}
.footer h3{
    color: #EAA636;
    margin-top: 100px;
    margin-left: 85px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.footer p{
    color: #948181;
    margin-left: 84px;
    margin-top: 30px;
}
.svg-inline--fa.fa-location-dot {
    margin-left: 85px;
    border: none;
    color: #948181;
    font-size: 14px;
    margin-bottom: -4px;
}               
 .footer h4{
    color: #948181;
    margin-left: -1px;
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
}                       
.svg-inline--fa.fa-phone {
    margin-left: 85px;
    border: none;
    color: #948181;
    font-size: 14px;
    margin-bottom: -4px;
}
.svg-inline--fa.fa-envelope {
    margin-left: 85px;
    border: none;
    color: #948181;
    font-size: 14px;
    margin-bottom: -4px;
}
.icons .fa-brands .fa-facebook-f {    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    margin-right: 10px;
    border: 1px solid #EAA636;
    color: #EAA636;
    border-radius: 18px;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
}
.icons {
    padding-left: 99px;
  }
  .vl {
    border-left: 1px solid #EAE3DF;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
    margin-top: -515px;
  }
hr {
    border: 1px solid #EAE3DF;
    margin-top: 84px;
    margin-left: -14px;
    width: 1282px;
}
footer {
    margin-left: 38%;
}
  /* FOOTER ENDS */